nav {
  background-color: $primary-color;
  box-shadow: $shadow;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;

  div {
    width: fit-content;
  }

  li {
    font-size: 0.833rem;
  }
}
