.content {
  padding-top: 50px;
}

%section {
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
}

.section-1 {
  @extend %section;
}

.section-2 {
  @extend %section;
  background-color: darken(#fff, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
