@import url("https://fonts.googleapis.com/css?family=Poppins:400");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 100%;
} /*16px*/
body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

@media (max-width: 640px) {
  html {
    font-size: 100%;
  } /*16px*/
  body {
    background: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
  }
  p {
    margin-bottom: 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 3rem 0 1.38rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.3;
  }
  h1 {
    margin-top: 0;
    font-size: 1.383rem;
  }
  h2 {
    font-size: 1.296rem;
  }
  h3 {
    font-size: 1.215rem;
  }
  h4 {
    font-size: 1.138rem;
  }
  h5 {
    font-size: 1.067rem;
  }
  small,
  .text_small {
    font-size: 0.937rem;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  } /*16px*/
  body {
    background: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
  }
  p {
    margin-bottom: 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 3rem 0 1.38rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.3;
  }
  h1 {
    margin-top: 0;
    font-size: 1.802rem;
  }
  h2 {
    font-size: 1.602rem;
  }
  h3 {
    font-size: 1.424rem;
  }
  h4 {
    font-size: 1.266rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  small,
  .text_small {
    font-size: 0.889rem;
  }
}
nav {
  background-color: #0543ce;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}
nav div {
  width: fit-content;
}
nav li {
  font-size: 0.833rem;
}

footer {
  background-color: #0543ce;
  width: 100%;
  height: fit-content;
  padding: 10px;
  color: #fff;
}
footer .logo {
  background-color: #fff;
  width: fit-content;
  padding: 4px 14px;
  border-radius: 4px;
}
footer .icons {
  color: #fff;
  width: 100%;
  max-width: 140px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.search {
  height: 50px;
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}

.p {
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  margin-bottom: 30px;
}
form .text,
form .number {
  width: 100%;
  border: 0.5px solid #bbb;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
form .text::placeholder,
form .number::placeholder {
  color: #bbb;
}
form .text:focus,
form .number:focus {
  outline: none !important;
}
form .area {
  height: 120px;
  width: 100%;
  border: 0.5px solid #bbb;
  padding: 5px 10px;
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px;
}
form .area::placeholder {
  color: #bbb;
}
form .area:focus {
  outline: none !important;
}

.btn-secondary, .btn-primary, .btn-nav {
  padding: 4px 14px;
  border-radius: 4px;
  margin: 0px 6px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid #0543ce;
}
.btn-secondary:hover, .btn-primary:hover, .btn-nav:hover {
  transition: all 0.4s ease-in-out;
}

.btn-nav {
  color: #0543ce;
  background-color: #fff;
}
.btn-nav:hover {
  border: 1px solid #fff;
  background-color: #3f79fa;
  color: #fff;
}

.btn-primary {
  border: 1px solid #fff;
  background-color: #0d56f9;
  color: #fff;
}
.btn-primary:hover {
  border: 1px solid #0543ce;
  background-color: #fff;
  color: #0543ce;
}

.content {
  padding-top: 50px;
}

.section-3, .section-2, .section-1 {
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
}

.section-2 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.section-3 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.logo-img {
  background-color: #fff;
  padding: 4px 14px;
  border-radius: 4px;
}

.menu-icon {
  color: #fff;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 50px);
  width: 100%;
  max-width: 180px;
  background-color: #fff;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.sidebar li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #0543ce;
  height: 10%;
  transition: all 0.4s ease-in-out;
}
.sidebar li:hover {
  background-color: #3f79fa;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.slider {
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .icon-right, .slider .icon-left {
  color: #0543ce;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.slider .icon-left {
  left: 3%;
}
.slider .icon-right {
  right: 3%;
}

.carousel {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 95%;
  max-width: 95vw;
  height: fit-content;
}

.card {
  width: 180px;
  height: 280px;
  border-radius: 6px;
  margin: 6px 10px;
  padding: 4px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #588afb;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.card h5 {
  margin: 0;
  padding: 4px;
  color: #fff;
  height: 60px;
}
.card .img {
  width: 90%;
}
.card p {
  margin: 0;
  padding: 4px;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
